*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html,body{
    background-color: #FAF1E4;
    height: 100%;
    width: 100%;
}
.main {
    height: 80px;
    width: 100%;
    background-color: #9EB384;
    display: flex;
    padding: 0 100px;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}
.generator{
    margin:50px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px;
}

button {
    height: 20px;
    width: 80px;
    margin: 10px;
}